h1 {
    font-family: "Handlee", cursive;
    font-weight: bolder;
    text-align: center;
    color:teal;
    border:dashed teal 4px;
}

h2 {
        font-family: "Handlee";
        font-weight: bolder;
        color:white;
        text-align: center;
        border-radius: 4px;
        border:solid teal 4px;
        background-color: teal;
    }
